.flip-card {
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  transition: transform 0.8s, box-shadow 0.2s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: rotateY(180deg);
}

/* scrollbar */

.flip-card ::-webkit-scrollbar {
  width: 0.3rem;
}

.flip-card ::-webkit-scrollbar-track {
  background: none;
}

.flip-card ::-webkit-scrollbar-thumb {
  background: rgb(148, 163, 184);
  border-radius: 0.25rem;
}
